body {
  overflow: hidden;
  overscroll-behavior: contain;
}
.fas {
  color: white;
}
#previews {
  position: relative;
  height: 800px;
  background: #000;
}
#previews:not(.pure-u-1-2) {
  width: 100%;
}
#previews:not(.simple) .image-container {
  bottom: 50px;
}
#previews .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#previews .prev {
  position: absolute;
  height: 32px;
  margin-top: -66px;
  top: 50%;
  left: 20px;
}
#previews .next {
  position: absolute;
  height: 32px;
  margin-top: -66px;
  top: 50%;
  right: 20px;
  cursor: pointer;
}
#previews .footer-info {
  opacity: 0.9;
  background-color: gray;
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 50px;
  font-size: 24px;
  color: white;
  border-top: 1px solid #FFF;
}
#previews .footer-info .pages {
  text-align: center;
}
#previews .footer-info .buttons {
  text-align: right;
}
#previews .footer-info img {
  height: 28px;
}
.entity {
  font-size: 16px;
}
#pids {
  height: 100vh;
  max-height: 100%;
  overflow-y: scroll;
}
#extra-info-table {
  position: fixed;
  top: 0;
  left: auto;
  width: 200px;
  display: block;
  z-index: 9;
  height: 50px;
  right: 0;
  overflow: hidden;
  transition: height 0.15s ease-out;
}
#extra-info-table .toggle-button {
  display: block;
  width: 200px;
  height: 50px;
}
#extra-info-table table {
  display: none;
}
#extra-info-table:hover {
  height: 90%;
  width: 100%;
  overflow: scroll;
  left: 0;
  transition: height 0.25s ease-in;
  background-color: #cbcbcb;
}
#extra-info-table:hover table {
  display: table;
  background-color: white;
}
#extra-info-table:hover .toggle-button {
  display: none;
}
table.pure-table tbody tr td p {
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: auto;
  width: 100%;
  max-height: 200px;
}
table.pure-table tbody tr td:first-child {
  vertical-align: top;
}
table.pure-table tbody tr td:not(:first-child) {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
table.pure-table.pure-table-even tbody tr td p {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
table.pure-table.pure-table-striped tr.active,
table.pure-table.pure-table-striped tr.active td {
  background-color: #b4fa84;
}
table.pure-table.pure-table-striped tr:nth-child(2n) td p {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
table.pure-table.pure-table-striped tr:nth-child(2n-1) td p {
  overflow-y: auto;
  width: 100%;
  max-height: 200px;
  background: linear-gradient(#f2f2f2 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(#f2f2f2 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
table.pure-table.pure-table-odd tbody tr td p {
  overflow-y: auto;
  width: 100%;
  max-height: 200px;
  background: linear-gradient(#f2f2f2 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(#f2f2f2 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.iv-snap-view {
  /*	opacity: 1 !important; */
}
.iv-image-view,
.iv-container:not(.image-container) {
  height: 100vh;
}
.link-status .undefined:after {
  content: '';
}
