[mediahaven]
rest_connection_url=https://username:password@domain.ext:443/mediahaven-rest-api
oai_connection_url=https://username:password@domain.ext:443/mediahaven-oai/oai
timeout=5
debug=1

[db]
connection_url=postgresql://user:pass@dbhost:5432/db_name
table_name=entities

[namenlijst]
api_host=https://user:pass@host.ext/api_url
proxy=http://proxyhost:80

[ner]
class_name=StanfordNER

[mediamosa]
host=https://host
user=
pass=
