<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>NER Attestation Tool</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <link rel="stylesheet" href="/static/css/pc-tabs.css">
   <style>
    body {
      margin: 5px;
    }
    iframe {
      width: 100%;
      height: 100vh;
      border: 0;
    }
   </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
 <body>

<div class="pc-tab">
  <input class="pc-tab-trigger" checked="checked" id="tab1" type="radio" name="pct" />
  <input class="pc-tab-trigger" id="tab2" type="radio" name="pct" />
  <input class="pc-tab-trigger" id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <li class="tab1">
        <label for="tab1">Nuttige links</label>
      </li>
      <li class="tab2">
        <label for="tab2">MAM</label>
      </li>
      <li class="tab3">
        <label for="tab3">Namenlijst</label>
      </li>
    </ul>
  </nav>
  <section>
    <div class="tab1">
      <ul>
      <li>hetarchief: <a href="https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}" target="_blank">
        https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}
      </a></li>
      <li>namenlijst: <a href="https://database.namenlijst.be/#/person/_id={{ nmlid }}" target="_blank">https://database.namenlijst.be/#/person/_id={{ nmlid }}</a></li>
      <li>details: <a href="{% url 'details' pid nmlid words %}" target="_blank">{% url 'details' pid nmlid words %}</a></li>
    </ul>
    </div>
    <div class="tab2 nopad">
      <iframe src="{% url 'details' pid nmlid words %}"></iframe>
    </div>
    <div class="tab3 nopad">
      <iframe src="https://database.namenlijst.be/#/person/_id={{ nmlid }}"></iframe>
    </div>
  </section>
</div>

</body>
</html>
