<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>{{ title }}</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static "css/alto.css" %}">
   <link href="{% static "css/imageviewer.css" %}"  rel="stylesheet" type="text/css" />
   <link href="{% static "css/details.css" %}"  rel="stylesheet" type="text/css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="{% static "js/imageviewer.js" %}"></script>
 </head>
 <body>
   <!-- h1><a href="https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-2:2" }}">{{ pid }}</a></h1>
   <h2>{{ meta.title }}</h2 -->
   <table class="pure-table pure-table-striped" style="display:none">
      <tbody>
        <tr> <td>Publicatie datum</td> <td>{{ props.carrier_date }}</td> </tr>
        <tr> <td>Titel</td> <td>{{ meta.title }}</td> </tr>
        <tr> <td>mediaObjectId</td> <td>{{ meta.mediaObjectId }}</td> </tr>
        <tr> <td>hetarchief</td> <td><a href="https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-2:2" }}" target="_blank">
          https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-2:2" }}
       </a></td> </tr>
        <tr> <td> namenlijst</td> <td><a href="https://database.namenlijst.be/#/person/_id={{ nmlid }}" target="_blank">https://database.namenlijst.be/#/person/_id={{ nmlid }}</a></td></tr>
        <!-- tr> <td> details</td> <td><a href="{% url 'details' pid nmlid words %}" target="_blank">{% url 'details' pid nmlid words %}</a></td></tr -->

        <!--
        <tr> <td></td> <td></td> </tr>
        -->
      </tbody>
    </table>

    <div id="previews">
      <div class="image-container"></div>
       <img src="{% static "img/left.svg" %}" class="prev" />
       <img src="{% static "img/right.svg" %}" class="next" />
       <div class="footer-info">
           <span class="current"></span>/<span class="total"></span>
       </div>
    </div>


   {% if preview %}<img class="pure-img preview alto-image" src="data:image/jpg;base64,{{ preview }}" alt="{{ pid }}" title="{{ meta.title }}" data-alto="{{ alto }}">{% endif %}
   {% if preview_full %}
    <img class="pure-img preview alto-image" src="data:image/jpg;base64,{{ preview_full }}" alt="{{ pid }}" title="{{ meta.title }}" data-alto="{{ alto }}">
   {% elif previewImageUrl %}
   <img class="pure-img preview alto-image" src="{{ previewImageUrl }}" alt="{{ pid }}" title="{{ meta.title }}" data-alto="{{ alto }}">
   {% endif %}
   {% if preview_confidence %}<img class="pure-img preview" src="data:image/jpg;base64,{{ preview_confidence }}" alt="{{ pid }}" title="{{ meta.title }}">{% endif %}

   <!-- hr />
   <pre>
     {{meta}}
   </pre -->
   <script src="{% static "js/alto.js" %}"></script>
   <script>
    // d3.selectAll('img.alto-image').call(alto);
     $(function () {
         var images = [];
         $('img.preview').each(function () {
            images.push({
               small: this.src,
               big: this.src
            });
            $(this).remove();
         });

         var curImageIdx = 1,
             total = images.length,
             wrapper = $('#previews'),
             curSpan = wrapper.find('.current');
             viewer = ImageViewer(wrapper.find('.image-container'));

         //display total count
         wrapper.find('.total').html(total);

         function showImage(){
             var imgObj = images[curImageIdx - 1];
             viewer.load(imgObj.small, imgObj.big);
             curSpan.html(curImageIdx);
         }

         wrapper.find('.next').click(function(){
              curImageIdx++;
             if(curImageIdx > total) curImageIdx = 1;
             showImage();
         });

         wrapper.find('.prev').click(function(){
              curImageIdx--;
             if(curImageIdx < 0) curImageIdx = total;
             showImage();
         });

         //initially show image
         showImage();
     });
   </script>
 </body>
</html>
