<!DOCTYPE html>
{% load static %}
{% load app_filters %}
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>{{ title }}</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static "css/alto.css" %}">
   <link rel="stylesheet" href="{% static "css/style.css" %}">
   <link href="{% static "css/imageviewer.css" %}"  rel="stylesheet" type="text/css" />
   <link href="{% static "css/info.css" %}"  rel="stylesheet" type="text/css" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="{% static "js/imageviewer.js" %}"></script>
   <link rel="stylesheet" href="{% static "css/awesomplete.css" %}">
   <script src="{% static "js/awesomplete.js" %}"></script>
   <script src="{% static "js/escaper.js" %}"></script>
 </head>
 <body>

    <div class="pure-g">
        <div id="previews" class="pure-u-1-2">
          <div class="image-container">
              <img class="pure-img preview alto-image" src="{{ previewImageUrl }}" alt="{{ pid }}" title="{{ meta.title }}" data-alto="{{ alto | json:"auto_escape=True" }}">
          </div>
           <div class="footer-info">
              <div class="pure-g">
                  <div class="pure-u-1-1 links">
                      <div class="pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                          <li class="pure-menu-item">&nbsp;</li>
                          <li class="pure-menu-item"><a href="https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-4:"|add:"0" }}" target="_blank" title="Open artikel op hetarchief.be" ><img src="{% static "img/archief-logo.png" %}" alt="" /></a></li>

                          <li class="pure-menu-item entity">{{ meta.title }} ({{ props.carrier_date }})</li>
                        </ul>
                      </div>
                  </div>
              </div>
           </div>
        </div>

       <div class="pure-u-1-2" id="pids">
           <table class="pure-table pure-table-striped">
              <tbody>
                <tr> <td>Publicatie datum</td> <td>{{ props.carrier_date }}</td> </tr>
                <tr> <td>Titel</td> <td>{{ meta.title }}</td> </tr>
                <tr> <td>mediaObjectId</td> <td>{{ meta.mediaObjectId }}</td> </tr>
                <tr> <td>hetarchief</td> <td><a href="https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-2:2" }}" target="_blank">
                  https://hetarchief.be/en/pid/{{ pid|slice:"0:10" }}/{{ pid|slice:"-2:2" }}
                </a></td> </tr>
                <tr> <td>OCR</td><td>{{ meta.description | linebreaks }}</td> </tr>
                <tr> <td>alto</td><td><pre>{{ alto | json | linebreaks }}</pre></td> </tr>
                <tr> <th>Entities</th> <th>Corresponding id</th> </tr>
                {% for link in links %}
                <tr>
                  <td>{{ link.entity }} </td>
                  <td>
                      {% with "img/"|add:model|add:"-logo.png" as logo %}
                          <a href="{{ link.url }}" target="_blank" title="Open in {{ model }}"><img src="{% static logo %}" alt="" style="height: 16px" /></a>
                      {% endwith %}
                      {% with link.entity|replace:" :/" as namepart %}
                      <a href="{% url 'info' model=model pid=link.pid nmlid=link.nmlid words=namepart %}" title="Open in attestation">{{ link.nmlid }}</a>
                      {% endwith %}
                  </td> </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>


   <!-- hr />
   <pre>
     {{meta}}
   </pre -->
   <script src="{% static "js/alto.js" %}"></script>
   <script src="{% static "js/jsonrpc.js" %}"></script>
   <script>
     $(function () {
         var ih = 0,
             $previews = $('#previews');

         var links = [
             {% for link in links %}
             {{ link.entity | json }},
             {% endfor %}
         ];
         window.links = links;

         d3.selectAll('img.alto-image').call(alto, links);
         var viewer = ImageViewer($previews.find('img.preview'), { maxZoom: 1000 });
         var img = $previews.find('.iv-large-image'),
             alto_overlay = $('.alto-text');

         function onZoomChange() {
             var styles = [ 'width', 'height', 'left', 'top', 'max-width', 'max-height' ],
                 css = {};

             for (var key of styles) {
                 css[key] = img.css(key);
             }

             alto_overlay.css(css);
         }

         function onResize() {
	         if (ih != window.innerHeight) {
	             ih = window.innerHeight;
                 $previews.css('height', ih + 'px');
             }
         }

         // hack jQuery css to trigger a cssChange event
         (function() {
                var ev = new $.Event('cssChange'),
                    origFnCss = $.fn.css;

                $.fn.css = function() {
                    res = origFnCss.apply(this, arguments);
                    if (arguments.length > 1 || typeof(arguments[0]) !== 'string') {
                      $(this).trigger(ev);
                    }
                    return res;
                }
         })();

         img.on('cssChange', onZoomChange);
         $(window).resize(onResize);
         onResize();
     });

   </script>
 </body>
</html>
