body {
  overflow: hidden;
  overscroll-behavior: contain;
}

.fas {
  color:white;
}

#previews:not(.pure-u-1-2) {
  width: 100%;
}

#previews {
  position: relative;
  height: 800px;
  background: #000;
}

#previews .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}
#previews .prev,
#previews .next {
  position: absolute;
  height: 32px;
  margin-top: -66px;
  top: 50%;
}
#previews .prev {
  left: 20px;
}
#previews .next {
  right: 20px;
  cursor: pointer;
}
#previews .footer-info {
  background-color: gray;
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 50px;
  font-size: 24px;
  color: white;
  border-top: 1px solid #FFF;
}

#previews .footer-info .pages {
  text-align: center;
}

#previews .footer-info .buttons {
  text-align: right;
}

.footer-info img {
  height: 28px;
}

.entity {
  font-size: 16px;
}

#pids {
  height: 100vh;
  max-height: 100%;
  overflow-y: scroll;
}

#extra-info-table {
  position: fixed;
  top: 0;
  left: auto;
  width: 200px;
  display: block;
  z-index: 9;
  height: 50px;
  right: 0;
  overflow: hidden;
  transition: height 0.15s ease-out;
}

#extra-info-table .toggle-button {
  display: block;
  width: 200px;
  height: 50px;
}

table.pure-table tbody tr td p {
  margin-top: 0;
  margin-bottom: 0;
  max-height: 200px;
  overflow-y: scroll;
}

#extra-info-table table {
  display: none;
}

#extra-info-table:hover table {
  display: table;
  background-color: white;
}

#extra-info-table:hover {
  height: 90%;
  width: 100%;
  overflow: scroll;
  left: 0;
  transition: height 0.25s ease-in;
  background-color: #cbcbcb;
}
#extra-info-table:hover .toggle-button {
  display: none;
}


table.pure-table tbody tr td:first-child {
  vertical-align: top;
}

table.pure-table tbody tr td:not(:first-child) {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.iv-snap-view {
    opacity: 1 !important;
}